/* CSS MODULAR */

@import "./css/normalize.css";
@import "./css/reset.css";

@import "./css/color.css";
@import "./css/tipografia.css";
@import "./css/grid.css";
@import "./css/layout.css";
@import "./css/mediaquery.css";



body{
    background-color: orange;
    height: 100vh;
}

/* FLEX */
.container{
    display:flex;
    
}

/* IZQUIERDA */

.izquierda{
    padding: 20px;
    
}

.texto{
    height: 80vh;
    display:flex;
    align-items: center;
    
}
.contenido{
    display:flex;
}
.parrafo{
    margin: 30px 0px 20px 0px;
}
 .boton{
     align-self: end;
 }



/* DERECHA */
.derecha{
    height: 100vh;
}

.banner{

    height: 100%;

}